@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html, body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background: #ebebeb;
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(to right bottom, #c1a6ee9f, #d0bcdb23, #d0bcdb23, #d0bcdb23, #ebebeb, #ebebeb) no-repeat;
}

aside {
    display: flex;
    flex-direction: column;
    float: right;
    width: 80%;
    background: #0c0c0c;
    padding: 60px;
}

.containerSobre h1 {
    color: #414141;
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 30px;
}

.containerSobre p {
    color: #ebebeb;
    font-size: 14pt;
    font-weight: 700;
}

.containerSkills {
    margin-top: 60px;
}

.containerSkills h1 {
    color: #414141;
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 30px;
}

.containerSkills ul {
    padding-left: 15px;
}

.containerSkills li {
    color: #ebebeb;
    font-size: 14pt;
    font-weight: 700;
    margin-bottom: 8px;
}

.containerContato {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.containerContato h1 {
    color: #414141;
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 30px;
}

.iconeRedesSociais {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.containerContato a {
    display: flex;
    align-items: center;
    width: 150px;
    color: #ebebeb;
    font-size: 12pt;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 20px;
}

.setaRedesSociais {
    margin-left: 5px;
}


.containerInfoPessoais {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
}

.containerInfoPessoais img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: #00000040 0px 14px 28px, #00000038 0px 10px 10px;
}

.containerNomeFuncao {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.containerNomeFuncao h1 {
    margin: 0;
    font-size: 24pt;
    font-weight: 700;
    color: #1a1a1aea;
}

.containerNomeFuncao h2 {
    margin: 0;
    font-size: 14pt;
    font-weight: 500;
    color: #818181e8;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 250px;
    margin-right: 350px;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerExperiencia {
    display: flex;
    flex-direction: column;
}

.containerExperiencia h1 {
    color: #818181e8;
    font-size: 14pt;
    font-weight: 400;
}

.containerExperiencia h2 {
    color: #1a1a1aea;
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 0;
}

.containerExperiencia h3 {
    color: #818181e8;
    font-size: 12pt;
    font-weight: 400;
    margin: 0;
}

.containerExperiencia p {
    color: #1a1a1aea;
    font-size: 14pt;
    font-weight: 400;
    margin-top: 30px;
}

.containerExperiencia a {
    width: 70px;
    color: #1a1a1aea;
    font-size: 12pt;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 50px;
}

.containerExperiencia a img{
    margin-left: 5px;
}

.botaoVerTodos {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: #0c0c0c;
    color: #ebebeb;
}

.containerEducacao {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.containerEducacao h1 {
    color: #818181e8;
    font-size: 14pt;
    font-weight: 400;
}

.containerEducacao h2 {
    color: #1a1a1aea;
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 0;
}

.containerEducacao h3 {
    color: #818181e8;
    font-size: 12pt;
    font-weight: 400;
    margin: 0;
}

.containerEducacao p {
    color: #1a1a1aea;
    font-size: 14pt;
    font-weight: 400;
    margin-top: 30px;
}